.Menu {
   
   
    display:flex;
    justify-content: space-between;

    .Header {
        padding-left:50px;
        font-size:36px;
        padding-top:10px;
        font-weight: 300;
        letter-spacing:4px;
    }
}