.Todo {
    cursor: pointer;
    background: white;
    margin-top: 30px;
    overflow: hidden;
    height: 60px;
    position: relative;
    min-width:500px;

    // .TextContainer{
    //     display:flex;
    //     align-items:center;
    //     justify-content: center;
    //     height:100%;
    // }

    .Text {
        user-select:none;
        padding-top:18px;
        height:100%;
        width:100%;
        font-size: 22px;
    }

    .Header {}

    .Checkbox {
        user-select: none;
        margin: 10px;
        cursor: pointer;
        position: relative;
        float: left;
        font-size: 36px;
        // font-weight:bold;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid #ccc;
        transition: color 1s ease-in-out;
        transition: border 0.3s ease-in-out;

        &:hover {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: 2px solid #aaa;
        }

        span {
            position: relative;
            bottom: 5px;
            left: 5px;
        }
    }


}